
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("Simple\ Shiny.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
}
.main {
    flex-wrap: wrap; 
    flex-direction: column;
    display: flex;
    margin-top: 300px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: auto;
    font-family: "Poppins", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}